@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Lobster+Two&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  background-image: linear-gradient(
    190deg,
    rgb(249, 246, 255),
    rgb(246, 214, 255),
    rgb(221, 174, 248)
  );
}
.name {
  font-family: "Lobster", cursive;
  font-size: 52px;
  color: blueviolet;
}
.top-banner {
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
  background-size: 60px 300px;
  /* background-origin: padding-box; */
}

/* h1,
h2,
h3 {
  font-size: 32px;
} */

span {
  color: blueviolet;
}

.welcome {
  font-family: "Lobster Two", cursive;
}
.container-blog {
  width: 100%;
  padding: 0 5%;
}
.blog-info {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 30px;
  text-align: justify;
}
.container-blog img {
  width: 90%;
}
section {
  display: flex;
}

.link-button {
  text-decoration: none;
  background-image: linear-gradient(
    190deg,
    rgb(157, 0, 255),
    rgb(68, 37, 180),
    rgb(157, 0, 255)
  );
  color: white;
  padding: 8px 32px;
  border-radius: 10px;
  font-weight: 700;
  width: fit-content;
}
.dream-big {
  background-image: url(/images/dotted.png), url(/images/dream-bg.png);
  background-repeat: no-repeat;
  background-size: 150px;
  background-position: right bottom, right top 290px;
}
.tab {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.tab-child {
  padding: 0 5%;
  display: flex;
  padding: 40px;
  justify-content: space-around;
}
.tab-2nd-child {
  display: flex;
  flex-direction: column;
  background-color: azure;
  text-align: justify;
  padding: 20px;
  width: 40%;
  border-left: 6px solid rgb(144, 0, 255);
  box-shadow: 2px 2px 14px black;
  margin: 10px;
  gap: 30px;
}
.exp {
  color: rgba(162, 0, 255, 0.949);
  font-family: "Lobster", cursive;
  margin-left: 70px;
}
.resignation {
  color: rgba(191, 0, 255, 0.537);
}
